@use "../abstracts" as abs;

/*----------------------------------------*\
  #Helper class
\*----------------------------------------*/

/*|| container to align the content*/

.container {
  max-width: 20.5rem;
  margin: 0 auto;

  /*----------------------------------------*\
    #tablet view
  \*----------------------------------------*/
  @include abs.respond-to("tablet") {
    max-width: 35rem;
  }

  /*----------------------------------------*\
    #laptop view
  \*----------------------------------------*/
  @include abs.respond-to("laptop") {
    max-width: 60rem;
  }

  /*----------------------------------------*\
    #dektop view
  \*----------------------------------------*/
  @include abs.respond-to("desktop") {
    max-width: 69.5rem;
  }
}

/*|| displays the content for screen readers */

.sr-only {
  position: absolute;
  left: -10000px;
  height: auto;
  width: 1px;
  height: 1px;
  overflow-x: hidden;
}
